:root {
  --primary-color: #ff5700;
  --primary-color-50: #F05D0E80;
  --primary-color-text :#fff;
  --accent-color: #0B737D;
  --accent-color-text: #fff;
  --dark-color: #111;
  --white-color: #fff;
  --black-color: #000;
  --focus-ring: 0 0 0 0.2rem var(--primary-color-50);
}